@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4fd1c5, #6b46c1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #38b2ac, #805ad5);
}

/* Firefox Scrollbar Styles */
* {
  scrollbar-width: thick;
  scrollbar-color: linear-gradient(180deg, #4fd1c5, #6b46c1) #f1f1f1;
}
